
// メディアクエリのブレークポイント設定
$breakpoints: (
  'sm': 'screen and (max-width: 414px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 1000px)',
  'xl': 'screen and (max-width: 1200px)',
) !default;

// ==============================
// mixin
// ==============================
@mixin mq($breakpoint: sm) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
// ========================================

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

.searchBox{
  width: 60%;
  height: 60px;
  // border: 1px solid #e8e8e8;
  border-radius: 20px;
  margin: 0 auto 15px;
  // background: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 50px;
  z-index: 10;
  @include mq(sm){
    width: 90%;
    height: 40px;
    margin-bottom: 20px;
  }

  input {
    width: 93%;
    height: 100%;
    float: right;
    border: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    padding: 5px 10px;
    @include mq(md){
      width: 85%;
    }
  }
  .btn{
    background: #776399;
    width: 7%;
    height: 100%;
    @include mq(md){
      width: 15%;
    }
    i{
      font-size: 20px; 
      color: white;
      width: 100%;
      @include mq(md){
        font-size: 10px;
      }
    }
  }
}

/* Wrapper with padding */
.wrap  {
  height: 300px;
  padding: 5%;
}

#tinderslide {
  width: 90vw;
  height: 100%;
  max-width: 920px;
  margin: 100px auto;
  z-index: 0;
  @include mq(sm){
    position: relative;
    background: #fff;
    width: 90vw;
    height: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  ul {
    padding: 0 20px;
    display: flex; 
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    margin: 0 auto;
    transform: translateX(-20px);
    @include mq(sm){
    margin: 0;
    position: relative;
    display: block;
    height: 100%;
    transform: translateX(0);
    }
    & > li {
      width: 155px;
      height: 215px;
      margin-left: 20px;
      margin-bottom: 30px;
      @include mq(sm){
      display: block;
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: absolute;
      top: 0;
      z-index: 2;
      left: 0;
      border-radius: 16px;
      // box-shadow: 0 0 20px rgba(0, 0, 0, .2);
      overflow: hidden;
      text-align: center;
      // padding: 10px 10px 10px 10px;
      background: #fff;
      font-size: 24px;
      color: #000;
      // border: 1px solid #fff;
      // border: 1px solid #dfdfdf;
      // border: 1px solid rgba(96, 96, 96, 0.2);
      // -webkit-transform: translate3d(0%,0,0) scale3d(1,1,1);
      // -moz-transform: translate3d(0%,0,0) scale3d(1,1,1);
      // -ms-transform: translate3d(0%,0,0) scale3d(1,1,1);
      // -o-transform: translate3d(0%,0,0) scale3d(1,1,1);
      // transform: translate3d(0%,0,0) scale3d(1,1,1);
      // backface-visibility: hidden;
      // -webkit-backface-visibility: hidden;
      margin: 0;
      }
      .userInfo{
        text-align: center;
        @include mq(sm){
        width: 85%;
        box-sizing: border-box;
        text-align: left;
        margin-left: 19px;
        // transform: translateX(-50%);
        }

        .userName {
          // display: inline-block;
          @include mq(sm){
            // width: 100%;
            // font-size: 25px;
            // color: #fff;
            position: absolute;
            bottom: 300px;
            margin-left: 5px;
          }
          .name {
            @include mq(sm){
            font-size: 20px;
            font-weight: bold;          
            }
          }
          .age {
            @include mq(sm){            
            font-size:15px;
            }
          }
        }

        .favorites {
          display: none;
          @include mq(sm){
            // width: 100%;
            display: flex;
            margin-bottom: 5px;
            position: absolute;
            bottom: 260px;
          }
          div {
            @include mq(sm) {
            display: inline-block;
            // background: #cebbea;
            border-radius: 10px;
            margin-right: 5px;
            padding: 2px 10px;
            font-size: 12px;
            font-weight: bold;
            }
          }
        }

        .self_introduction{
          display: none;
          @include mq(sm){
            width: 90%;
            font-size: 15px;
            display: block;
            position: absolute;
            bottom: 200px;   
            padding: 0 5px         
          }
        }
      }

      img {
        @include mq(sm){
        width: 100%;
        height: 300px;
        // margin-bottom: 5px;
        // width: 100%;
        // height: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 16px;
        }
        width: 155px;
        height: 155px;
        margin: auto;
        border-radius: 50%;
      }
    }
  }
  .noUser {
    display: none;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
    font-size: 20px;
    width: 100%;
    text-align: center;
    &.is-active {
       margin-bottom:20px;
      display: block;
      .search-link {
        display: block;
        background: #cebbea;
        padding: 15px;
        border-radius: 20px;
        color: white;
      }
    }
    .search-link {
      display: none;
    }

  }
}

/* Image text */
#tinderslide li h2 {
  color: #fff;
  font-size: 30px;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, .2);
}

/* Image rotation */
#tinderslide li.pane1 {
  -webkit-transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
  -o-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  transform: rotate(-1deg);
}

#tinderslide li.pane2 {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
}

/* Like & dislike badge images */
#tinderslide .like,
#tinderslide .dislike {
  background: url("/images/liked.png") no-repeat scroll 0 0;
  opacity: 0;
  height: 80px;
  position: absolute;
  width: 170px;
  left: 45px;
  top:40px;
  z-index: 1;
  overflow: hidden;
  -webkit-transform: translate3d(0%,0,0) scale3d(1,1,1);
  -moz-transform: translate3d(0%,0,0) scale3d(1,1,1);
  -ms-transform: translate3d(0%,0,0) scale3d(1,1,1);
  -o-transform: translate3d(0%,0,0) scale3d(1,1,1);
  transform: translate3d(0%,0,0) scale3d(1,1,1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#tinderslide .dislike {
  right: 45px;
  left: auto;
  background: url("/images/nope.png") no-repeat scroll 0 0;
}

/* Image container */
#tinderslide .img {
  height: 90%;
  width: 100%;
  margin-bottom: 5px;
  position: relative;
  -webkit-transform: translate3d(0%,0,0) scale3d(1,1,1);
  -moz-transform: translate3d(0%,0,0) scale3d(1,1,1);
  -ms-transform: translate3d(0%,0,0) scale3d(1,1,1);
  -o-transform: translate3d(0%,0,0) scale3d(1,1,1);
  transform: translate3d(0%,0,0) scale3d(1,1,1);
  overflow: hidden;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0,0,0) scale3d(1,1,1);
  -webkit-transform-style: preserve-3d;
}

/* Action - buttons */
.actions {
  display: none;
  @include mq(sm){
  display: flex;
  justify-content: space-between;
  width: 100%;
  // margin: 20px auto 0;
  position: absolute;
  top: 180px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.7;
  }
  .like {
    @include mq(sm){
    font-size: 30px;
    display: block;
    color: #fff;
    background: #e07474;
    }
    span {
      @include mq(sm){
      display: block;
      color: #fff;
      }
      i {
        color: #fff;
      }
    }
  }
  .dislike {
    @include mq(sm){
    font-size: 35px;
    display: block;
    }
    span {
      @include mq(sm){
      display: block;
      }
    }
  }

  &.is-none {
    display: none;
  }
}

.usershowPage {
  .reactions {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin: 15px auto;
    @include mq(sm){
    display: none;
    }
    &.is-none {
      display: none;
    }
  }
}

.actions div {
  position: relative;
  display: inline-block;
  margin-right: -4px;
}

.actions a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
  // background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  // background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7);
  // background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7);
  // background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7);
  // background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7);
  width: 80px;
  height: 80px;
  position: relative;
  text-align: center;
  // line-height: 144px;
  border-radius: 50%;
  outline: none;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
  &.dislike {
    color: #eb5f5f;
  }
  &.like {
    color: #e07474;
  }
}

.reactions a {
  width: 220px;
  height: 40px;
  border-radius: 15px;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7);
  outline: none;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  color: #e07474;
    &.is-liked {
    color: #fff;
    background: #c3ade7;
    }
}

.actions a:hover {
text-decoration: none;
color: #555;
background: #f5f5f5;
}

/* jTinder status text */
#status {
  text-align: center;
  font-size: 18px;
  font-family: arial;
  margin-top: 30px;
  font-weight: bold;
}

.topPage {
  height: 100%;
  .home-slide {
    height: 100%;
  }
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  max-width: 610px;
  margin: 0 auto;
  & > ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    & > li {
      list-style: none;
      &.personIcon {
        i {
          color:#dccbcb;
        }
      }
      &.appIcon {
        & > a {
          width: 40px;
          display: inline-block;
          & > img {
            width: 100%;
          }
        }
      }
      &.messageIcon {
         i {
           color: #dccbcb;
         }
      }
    }
  }
}
}