$main-color: #fd5068;
$main-text-color: #fff;

body {
  overflow: visible;
}

.notice,
.alert {
  display: none;
}

.signupPage {
  width: 600px;
  margin: 0 auto;
  margin-bottom: 70px;
  .header {
    padding: 50px;
    font-size:20px;
    text-align: center;
    color: #444b4f;
    height: 60px;
    border-bottom: 1px solid #e8e8e8;
  }
  .userProfileImg {
    position: relative;
    margin: 0 auto 40px auto;
    width: 170px;
    height: 170px;
    background: #776399;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    img {
      width: 170px;
      height: 170px;
      border-radius: 50%;
      margin: auto;
    }
 
    &:hover .userProfileImg_description {
      opacity: 1;
    }
    &_description {
      transition: opacity .5s;
      opacity: 0.4;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      position: absolute;
      font-size: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(5, 5, 5, .5);
      color: #fff;
      font-size:16px;
    }
    .fa-camera {
      color: #fff;
    }
    &>input {
      display: none;
    }
  }
  .userImgPreview {
    margin: 0 auto;
    display: none;
    text-align: center;
    &.is-active {
      display: block;
    }
    &_content {
      max-width: 100px;
      margin: 10px;
      padding: 10px;
      border: solid thin lightgray;
      border-radius: 5px;
    }
    &_text {
      font-size: 11px;
    }
  }
  .submitBtn {
    background: $main-color;
    color: $main-text-color;
    width: 200px;
    padding: 10px;
    border-radius: 90px;
    transition: opacity .5s;
    &:hover {
      opacity: .6;
    }
  }
  
  .errorMessage{
    color:#fd5068;
  }

  .register_form {
    margin-bottom: 70px;
  }


  .form-group {
    display: flex;
    justify-content: space-between;
    // label {
    //   display: inline-block;
    // }
    input, select {
      width: 200px;
      color: #6d767d;
      border-radius: 0.25rem;
      line-height: 1.6;
      padding: 6px 12px;
      border: 1px solid #ced4da;
    }
  }
}

.linkToLogin {
  margin: 15px 0 15px;
  text-align: center;
  & > a {
    color:#fd5068;
  }



}