// 最初のアプリ説明画面

.beginningPage {
  color: #40444a;
  letter-spacing: 0.1rem;
  width: 100%;
  // margin: 0 auto;
  &_contents {
    height: 561px;
    background: linear-gradient(to right top,#f1e3fc 0,#f1e3fc 34%,#fbe7a2 55%,#ecffd4);
    box-sizing: border-box;
    margin-bottom: 50px;
    letter-spacing: 0.2rem;
    &_title {
      display: block;
      // margin-top: 10vh;
      // float: left;
      padding-top: 100px;
      text-align: center;
      .sub-title {
        font-size: 15px;
        &::before {
          display: inline-block;
          width: 100px;
          border-top: 1px solid rgba(0,0,0,.4);
          content: "";
          vertical-align: middle;
          margin-right: 36px;
        }
        &::after {
          display: inline-block;
          width: 100px;
          border-top: 1px solid rgba(0,0,0,.4);
          content: "";
          vertical-align: middle;
          margin-left: 36px;
        }
      }
      .title {
        font-size: 40px;
        margin-bottom: 68px;
        margin-top: 72px;
        color: #563e7b;
        font-weight: bold;
      }
      p {
        width: 600px;
        margin: 0 auto;
        letter-spacing: .04em;
        line-height: 1.9em;
        text-align: left;
        // text-align: right;
      }
    }
  } 


    .question_contents {
      // width: 100%;
      margin-bottom: 80px;
      .container{
        // background: #f1e3fc;
        border-radius: 20px;
        padding: 42px 100px 0;
        .question_contents_title{
          padding-bottom: 4px;
          display: inline-block;
          // border-bottom: 4px solid #d39eff;
          left: 50%;
          font-size: 32px;
          text-align: center;
          margin-bottom: 30px;
          &::after {
            display: block;
            height: 2px;
            margin-top: 20px;
            background: linear-gradient(90deg,#ff6161 0,#ffa12c 30%,#ffb428 47%,#fac03e 53%,#dfffb8);
            content: "";
          }
        }
        .question_contents_wrapper {
          .question_contents_item{
            text-align: left;
            margin-bottom: 30px;
            h3 {
              font-size: 20px;
              font-weight: bold;
            }
            p {
              font-size: 18px;
              font-weight: normal;
            }
          }
        }
      }
    }
  .answer_contents {
    margin: 30px auto 80px;
    background: url("/storage/images/grape.jpg");
    .bg-mask {
      background: rgba(255,255,255,0.7);
      border-radius: 30px;
      padding: 50px 20px;
    }
    .answer-title {
      text-align: center;
      margin: 0 auto 30px;
      font-size: 36px;
      width: 260px;
      // display: inline-block;
      &::after {
        display: block;
        height: 2px;
        margin-top: 20px;
        background: linear-gradient(90deg,#ff6161 0,#ffa12c 30%,#ffb428 47%,#fac03e 53%,#dfffb8);
        content: "";
      }

    }
    .answers {
      display: flex;
      justify-content: center;
      div {
        width: 450px;
        height: 200px;
        border-radius: 50%;
        text-align: center;
        font-size: 20px;
        border: 1px solid #D5B9FF;
        background-color: #fff;
        box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
        padding-top: 70px;
      }
    }
    .answer {
      width: 450px;
      height: 200px;
      margin: 0 auto;
      border-radius: 50%;
      text-align: center;
      padding: auto;
      font-size: 20px;
      border: 1px solid #D5B9FF;
      background-color: #fff;
      box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
      padding-top: 70px;
    }
    .recommend {
      margin-top: 130px;
      margin-bottom: 200px;
    }

    .arrow {
      display: block;
      margin: 0 auto;
      height: 40px;
      width: 80px;
      transform: rotate(90deg);
      background-color:#F2DE1D;
      position: relative;
      top:40px;
    }
    
    .arrow:before {
      position:absolute;
      content:"";
      width:0;
      height:0;
      border:60px solid transparent;
      border-left:60px solid #F2DE1D;
      left:80px;
      top:-37px;
    }
  }
  .howTo {
    width: 1100px;
    height: 800px;
    margin: 0 auto;
    &_title {
      font-size: 36px;
      text-align: center;
      display: inline-block;
      &::after {
        display: block;
        height: 2px;
        margin-top: 20px;
        background: linear-gradient(90deg,#ff6161 0,#ffa12c 30%,#ffb428 47%,#fac03e 53%,#dfffb8);
        content: "";
      }
    }
    p {
      padding-top: 40px;
      font-size: 18px;
      text-align: center;
    }
    ul {
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
      li {
        list-style: none;
        width: 210px;
        box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
        h4 {
          text-align: center;
          font-size: 30px;
        }
        img {
          width: 100%;
          height: 328px;
        }
        p {
          text-align: center;
          font-size: 16px;
          padding: auto;
          margin: 0;
          padding: 20px 5px;
        }
      }
    }
  }
}

.beginningPage_btn_wrapper {
  background-color: #5F4573;
  height: 350px;
  transition: color 300ms, background-color 300ms;
  .btn_wrapper {
    padding: 20px;
    display: inline-block;
    width: 500px;
    color: #fff;
    margin: 100px auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    p {
      text-align: center;
      font-size: 30px;
      letter-spacing: .2em;
    }
    .beginningPage_btn {
      display: block;
      width: 450px;
      padding: 20px;
      margin: 0 auto;
      border: 1px solid #fff;
      border-radius: 30px;
      color: #fff;
      font-weight: bold;
      &:hover {
        opacity: .6;
      }
    }
  }
}