// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// fontawesomeが使えるように下記追記
$fa-font-path: "../webfonts"; //追記

// Bootstrap
@import '~bootstrap/scss/bootstrap';


@import "~@fortawesome/fontawesome-free/scss/fontawesome"; //追記
@import '~@fortawesome/fontawesome-free/scss/solid'; //追記
@import '~@fortawesome/fontawesome-free/scss/regular'; //追記
@import '~@fortawesome/fontawesome-free/scss/brands'; //追記

//pages
@import "top";
@import "sign_up";
@import "sign_in";
@import "show";
@import "edit";
@import "gurunavi";

// jTinder用のCSSを読み込む
@import "jTinder";

@import "matching";

@import "chat";


// メディアクエリのブレークポイント設定
$breakpoints: (
  'sm': 'screen and (max-width: 414px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 992px)',
  'xl': 'screen and (max-width: 1200px)',
) !default;

// ==============================
// mixin
// ==============================
@mixin mq($breakpoint: sm) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// 色
$main-color: #fd5068;
$main-text-color: #fff;

// ===========================================================


.navbar {
  letter-spacing: 0.1rem;
  // background: #563e7b;
  padding-top: 12px;
  padding-bottom: 12px;
  border-top: 5px #563e7b solid;
  border-bottom: 1px #d9d9d9 solid;
  box-shadow: 0 0 3px 3px #d9d9d9;
  z-index: 100;
  width: 100%;
  @include mq(){
    padding: 0;
    width: 375px;
  }
  .navbar-toggler {
    @include mq(md){  
    margin-right: 16px;
    margin-top: 8px;
    }
  }

  .header-left {
    font-size: 25px;
    padding: 8px;
  }

  .navbar-nav {
    @include mq(md){
    height: 667px;
    background-color: #fff;
    }
  }
  
	.nav-item{
    @include mq(md){
      padding-left: 16px;
    }
    &.active {
      @include mq(lg){
      padding-top: 50px;
      }
    }
    @include mq(lg) {
      background: white; 
      // height: 50px; 
      padding-bottom: 60px;
    }

		a{
      color: #563e7b;
      text-decoration: none;
      display: inline-block;
      margin: 0 25px 0 5px;
      color: #563e7b;
      font-size: 15px;
		}
  }
}


main {
  margin-top: 130px;
  color: #40444a;
  @include mq(sm){
    margin-top: 90px;
  }
}

.headerColor-default {
  transition: .3s;
  background: rgba(255, 255, 255, 0.9);
  /* （画像よりも下までスクロールした時に変えたい文字色） */
}